.container {
  background-color: rgb(20, 20, 20);
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.products {
  display: grid;
  max-width: 1280px;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 1rem;
}