.card {
  background-color: rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(40, 40, 40);
  padding: 10px;
  color: gray;
  background-image: url("/src/images/abstractDesign.svg");
  background-size: 700%;
  background-position: center;
}

.image {
  max-height: 200px;
  max-width: 200px;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: white;
}