.card {
  background-color: rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(40, 40, 40);
  padding: 10px;
  color: gray;
  background-image: url("/src/images/abstractDesign.svg");
  background-size: 700%;
  background-position: center;
  gap: 10px;
}

.card>h4 {
  flex: 1;
  margin: 0;
  color: white;
}

.image {
  max-height: 200px;
  max-width: 200px;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: white;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.priceContainer>p {
  margin: 0;
}

.priceTitle {
  font-size: 0.7rem;
}

.price {
  font-size: 1.2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: orange;
  align-items: center;
}
