.cart {
  padding: 10px;
  filter: brightness(0.8);
  transition: all 0.2s;
  position: relative;
}

.cart:hover {
  cursor: pointer;
  filter: brightness(1);
  transform: scale(1.1);
}

.container {
  background-color: rgb(30, 30, 30);
  border: 2px solid rgb(100, 100, 100);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newItems {
  position: absolute;
  transform: translate(60%, 60%);
  background-color: rgba(209, 137, 3, 0.6);
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  border: 2px solid rgb(100, 100, 100, 1);
  text-align: center;
}

.cartContainer {
  position: absolute;
  top: 70px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: absolute;
  min-width: 200px;
  max-width: 350px;
  background-color: rgb(30, 30, 30);
  border: 2px solid rgba(209, 137, 3, 1);
  border-radius: 10px;
  padding: 25px;
}

.cartHeader>h4 {
  margin: 0;
  text-align: center;
}

.cartHeader>h4>span {
  color: rgba(209, 137, 3, 1);
}

.button {
  flex: 1;
  min-height: 3rem;
  border: none;
  font-size: 1.2rem;
  transition: 0.2s all;
  border: 2px solid rgba(209, 137, 3, 1);
  border-radius: 10px;
  background-color: rgba(209, 137, 3, 1);
}

.button:hover {
  background-color: rgb(30, 30, 30);
  cursor: pointer;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 100px;
}
