.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(20, 20, 20);
  flex: 1;
  color: orange;
}

.container>div {
  padding: 2rem;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}