.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background-color: rgb(20, 20, 20);
  align-items: center;
}

.container>h2 {
  margin: 0;
}

.container>button {
  font-size: 1.2rem;
  width: 100%;
  padding: 0.3rem;
  transition: all 0.2s;
  border-radius: 15px;
}

.container>button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.active {
  background-color: rgba(209, 137, 3, 1);
  border: none;
}

.inActive {
  background-color: rgb(30, 30, 30);
  border: 1px solid rgba(209, 137, 3, 1);
}