.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background-color: rgb(20, 20, 20);
  border: 2px solid rgb(50, 50, 50);
  align-items: center;
}

.container>h2 {
  margin: 0;
}

.container>button {
  background-color: rgba(209, 137, 3, 1);
  border: none;
  font-size: 1.2rem;
  width: 100%;
  padding: 0.3rem;
  transition: all 0.2s;
}

.container>button:hover {
  transform: scale(1.1);
  cursor: pointer;
}